// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --primary: #4646b6; // Site main color - (Основний колір сайту)
  --accent: #d6ef37; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)
  --accent_70: #d6ef37b3; // Site accent color - (Наприклад: кнопки дії, заголовки, посилання)

  // Background colors (Фонові кольори):
  // =================================================================
  --bg-primary: #1f1f1f; // BG primary background color - (Основний фоновий колір сайту)
  --bg-primary_70: #1f1f1fb3; // BG primary background color - (Основний фоновий колір сайту)

  //   // Text colors (Текстові кольори):
  //   // =================================================================
  --text-primary: #ddd; // Text primary text color - (Основний текстовий колір сайту)
  // =================================================================
}
