.articles {
  margin: toRem(100) 0 toRem(50);

  &__filter {
    display: flex;
    flex-wrap: wrap;
    column-gap: toRem(25);
    row-gap: toRem(15);
    margin-top: toRem(30);
  }

  &__wrapper {
    position: relative;
    background-color: var(--primary);
    border-radius: toRem(20);
    padding: toRem(10) toRem(10);
    width: auto !important;
    transition: all 0.3s;

    @media (min-width: $tablet) {
      border-radius: toRem(40);
      border-top-left-radius: 0;
    }

    &--rounded {
      @media (min-width: $tablet) {
        border-top-left-radius: toRem(40);
      }
    }

    @media (min-width: $mobileSmall) {
      padding: toRem(20) toRem(20);
    }

    @media (min-width: $mobile) {
      padding: toRem(30) toRem(30);
    }
  }

  &__item {
    width: calc(100% - 20px);

    @media (min-width: $mobileSmall) {
      width: calc(100% / 2 - 30px);
    }

    @media (min-width: $mobile) {
      width: calc(100% / 3 - 30px);
    }

    @media (min-width: $tablet) {
      width: calc(100% / 4 - 30px);
    }

    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: toRem(15) 0 toRem(25);

  @media (min-width: $tablet) {
    justify-content: start;
  }

  @media (min-width: $tablet) {
    margin: toRem(25) 0 0;
  }

  &__btn {
    position: relative;
    padding: toRem(15) toRem(40);
    transition: all 0.3s;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      top: 100%;
      background-color: var(--primary);
      transition: all 0.3s;
      opacity: 0;
    }

    &::after {
      right: -5%;
      width: 60%;
      transform: skew(40deg);
      border-top-right-radius: toRem(20);
      z-index: -1;
    }

    &::before {
      width: 60%;
      left: 0;
      border-top-left-radius: toRem(40);
      z-index: -1;
    }

    &--active {
      border-radius: toRem(40);
      padding: toRem(15) toRem(40);
      background-color: var(--primary);

      &::before,
      &::after {
        display: none;
      }

      @media (min-width: $tablet) {
        position: relative;
        border-top-left-radius: toRem(40);
        padding-right: toRem(50);
        border-top-right-radius: 70%;
        transition: all 0.3s;
        background-color: transparent;

        &::before,
        &::after {
          display: block;
          top: 0;
          opacity: 1;
        }
      }
    }

    &:not(.filter__btn--active) {
      @media (any-hover: hover) {
        &:hover {
          color: var(--accent);
        }
      }
    }
  }
}

.article {
  border: toRem(1) solid var(--accent);
  border-radius: toRem(10);
  overflow: hidden;
  display: none;
  flex-direction: column;

  &--active {
    display: flex;
  }

  &__img {
    display: block;
    position: relative;
    margin-bottom: toRem(15);
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.05);
      }
    }

    img {
      &.init {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: toRem(15);
    padding: 0 toRem(10) toRem(15);
  }

  &__title {
    font-size: toRem(24);
    line-height: 85.714286%; /* 24/28 */

    &-link {
      position: relative;

      @media (any-hover: hover) {
        &:hover {
          &::after {
            left: 0;
            width: 100%;
          }
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: toRem(2);
        background-color: var(--text-primary);
        transition: all 0.3s;
      }
    }
  }

  &__descr {
    font-size: toRem(16);
    line-height: 114.285714%; /* 16/14 */
    flex: 1 1 auto;
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: toRem(15);
  }

  &__btn {
    max-width: max-content;
    padding: toRem(10) toRem(20);
  }
}
