//========================================================================================================================================================
//KEYFRAMES

@keyframes rotation360 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

//========================================================================================================================================================

.btn {
  position: relative;
  background-color: var(--accent);
  border-radius: toRem(30);
  color: var(--text-inverse);
  font-weight: 500;
  padding: toRem(15) toRem(20);
  width: toRem(203);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  &__content {
    position: relative;
    right: 0;
    transition: all 0.3s;
    display: block;
    text-align: left;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translateY(-50%);
    transition: all 0.3s;
    text-align: center;
  }

  @media (any-hover: hover) {
    &:hover {
      .btn__content {
        right: 110%;
      }

      .btn__icon {
        font-size: toRem(28);
        right: 0;
        width: 100%;
      }
    }
  }

  &--center {
    margin: 0 auto;
  }

  &--transparent {
    position: relative;
    background-color: transparent;
    color: var(--accent);
    border: 1px solid var(--accent);
    transition: all 0.3s;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      clip-path: circle(0% at 50% 50%);
      background-color: var(--accent);
      transition: 0.4s;
      z-index: -1;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--text-inverse);
        box-shadow: 0 0 15px var(--accent);

        &::before {
          clip-path: circle(100% at 50% 50%);
        }
      }
    }
  }

  &--inverse {
    position: relative;
    background-color: var(--primary);
    color: var(--accent);
    transition: all 0.3s;
    overflow: visible;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 15px var(--primary);
      }
    }
  }
}

//========================================================================================================================================================

.title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  @include adaptiveValue('font-size', 40, 24);
  line-height: 175%; /* 70/40 */
  font-weight: 600;
  padding-top: toRem(20);
  background: url('../img/title_decore.svg') center top/toRem(150) no-repeat;

  &--inverse {
    color: var(--text-inverse);
    background-image: url('../img/title_decore_dark.svg');
  }

  @media (min-width: $mobile) {
    background-size: auto;
  }
}

//========================================================================================================================================================
.folder {
  position: relative;
  background-color: var(--primary);
  border-radius: toRem(40);
  border-top-right-radius: 0;
  padding: toRem(30) toRem(20);

  &::before {
    content: '';
    position: absolute;
    top: toRem(-41);
    right: 0;
    width: 25%;
    height: toRem(42);
    background-color: var(--primary);
    border-top-left-radius: toRem(40);
    border-top-right-radius: toRem(40);
  }

  &::after {
    content: '';
    position: absolute;
    top: toRem(-41);
    right: 20%;
    background-color: var(--primary);
    height: toRem(42);
    width: toRem(70);
    transform: skew(-40deg);
    border-top-left-radius: toRem(20);
  }
}
