//========================================================================================================================================================
// HEADER

.header {
  position: fixed;
  top: rem(16);
  width: 100%;
  z-index: 10;

  @media (any-hover: hover) {
    .lock & {
      width: calc(100% - rem(8));
    }
  }

  &--scrolled {
    top: 0;
    padding: rem(15) 0;
    background-color: var(--bg-primary_70);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: rem(1565);
  }

  &__logo {
    font-family: 'Smooch';
    @include adaptiveValue('font-size', 74, 40);
    @include adaptiveValue('padding-left', 40, 0, 0, 1345, 768);
    color: var(--accent);
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(25);
    background-color: var(--primary);
    padding: rem(18) rem(40) rem(18) rem(87);
    border-top-right-radius: rem(40);
    border-top-left-radius: rem(100);
    transition: all 0.4s;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary);
      height: 100%;
      width: rem(70);
      transform: skew(-45deg);
      border-top-left-radius: rem(15);
      transition: all 0.4s;
    }

    &--scrolled {
      border-radius: rem(40);
      width: rem(277);
      padding-left: rem(40);
      &::before {
        transform: skew(0deg);
        border-radius: rem(40);
      }
    }
  }
}
//====================================================================================================
// BURGER

.icon-menu {
  display: block;
  position: relative;
  width: rem(45);
  height: rem(25);
  z-index: 5;
  @media (any-hover: none) {
    cursor: default;
  }
  span,
  &::before,
  &::after {
    content: '';
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(4);
    background-color: var(--text-primary);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: calc(50% - rem(1));
  }
  .menu-open & {
    span {
      width: 0;
    }
    &::before {
      top: calc(50% - rem(1));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(1));
      transform: rotate(45deg);
    }
  }
}

//========================================================================================================================================================
// SWITCHER

.switcher {
  position: relative;
  display: flex;
  column-gap: rem(10);
  background-color: var(--bg-primary);
  border-radius: rem(25);
  z-index: 5;

  input {
    display: none;
  }

  &__selector {
    position: absolute;
    left: 0;
    top: 0;
    width: rem(40);
    height: rem(40);
    border: rem(2) solid var(--text-primary);
    border-radius: 50%;
    transition: all 0.5s cubic-bezier(0.7, -0.55, 0.3, 1.55) 0s;
  }

  label {
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      transition: all 0.5s ease 0s;
    }

    @media (any-hover: hover) {
      &:hover {
        :before {
          filter: brightness(1.5) drop-shadow(0px 0px 4px var(--text-primary));
          transition: all 0.5s ease 0s;
        }
      }
    }

    &[for='day']:before {
      width: rem(40);
      height: rem(40);
      background: url(../img/switcher/day.svg) center center/ auto no-repeat;
    }

    &[for='night']:before {
      width: 40px;
      height: 40px;
      background: url(../img/switcher/night.svg) center center/ auto no-repeat;
    }
  }

  input {
    &:checked + label:before {
      transform: rotate(110deg) scale(1.1);
      filter: brightness(1.5) drop-shadow(0px 0px 2px var(--accent));
      transition: all 0.3s ease 0s;
    }
  }

  #day:checked ~ .switcher__selector {
    left: 0;
  }

  #night:checked ~ .switcher__selector {
    left: calc(100% - rem(40));
  }
}

//========================================================================================================================================================
// MENU
.menu {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100vw;
  background-color: var(--bg-primary_70);
  opacity: 0;
  transition: all 0.3s;

  .menu-open & {
    opacity: 1;
    right: 0;
  }

  &__body {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary);
    transition: all 0.3s;
    overflow: hidden;
    border-top-left-radius: rem(40);
    border-bottom-left-radius: rem(40);
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(35);
    font-size: rem(0);
    font-weight: 600;
    height: 0;
    width: 0;
    transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);

    .menu-open & {
      height: 100vh;
      width: 45vw;
      font-size: rem(32);
    }

    @media (max-width: $mobile) {
      .menu-open & {
        width: 75vw;
      }
    }

    @media (max-width: $mobileSmall) {
      .menu-open & {
        width: 95vw;
      }
    }
  }

  &__item {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(3);
      z-index: 1;
      letter-spacing: 3em;
      transition: all 0.3s;
      color: var(--bg-primary);
      opacity: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          content: attr(data-name);
          letter-spacing: normal;
          opacity: 0.4;
          width: auto;
          font-size: rem(32);
        }
      }
    }
  }

  &__link {
    position: relative;
    transition: all 0.3s;
    z-index: 3;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--text-primary);
        color: var(--bg-primary);
        padding: rem(5) rem(25);
        border-radius: rem(40);
        font-size: rem(48);
      }
    }
  }
}
