//========================================================================================================================================================
// HEADER

.header {
  position: fixed;
  top: rem(16);
  width: 100%;
  z-index: 10;

  @media (any-hover: hover) {
    .lock & {
      width: calc(100% - rem(8));
    }
  }

  &--scrolled {
    top: 0;
    padding: rem(15) 0;
    background-color: var(--bg-primary_70);

    @media (max-width: $mobileSmall) {
      padding: rem(5) 0;

      .header__inner {
        border-radius: rem(40);
      }
    }
  }

  &__container {
    max-width: rem(1565);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;

    @media (max-width: $mobileSmall) {
      background-color: var(--primary);
      border-top-left-radius: rem(40);
      border-top-right-radius: rem(40);
    }
  }

  &__logo {
    font-family: 'Smooch';
    @include adaptiveValue('font-size', 74, 40);
    @include adaptiveValue('padding-left', 40, 20, 0, 768, 400);
    color: var(--accent);
    z-index: 5;

    @media (max-width: $mobileSmall) {
      font-size: rem(60);
      z-index: 10;
    }
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: rem(25);
    background-color: var(--primary);
    padding: rem(18) rem(30) rem(18) rem(45);
    border-top-right-radius: rem(40);
    border-top-left-radius: rem(100);
    transition: all 0.4s;
    width: rem(290);

    @media (max-width: $mobileSmall) {
      width: unset;
      padding: rem(18) rem(20);
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--primary);
      height: 100%;
      width: rem(70);
      transform: skew(-45deg);
      border-top-left-radius: rem(15);
      transition: all 0.4s;

      @media (max-width: $mobileSmall) {
        display: none;
      }
    }

    &--scrolled {
      border-radius: rem(40);
      width: rem(275);
      padding-left: rem(40);
      &::before {
        transform: skew(0deg);
        border-radius: rem(40);
      }

      @media (max-width: $mobileSmall) {
        // border-radius: unset;
        padding: rem(18) rem(20);
        width: unset;
      }
    }
  }
}
//====================================================================================================
// BURGER

.icon-menu {
  display: block;
  position: relative;
  width: rem(45);
  height: rem(25);
  z-index: 5;
  @media (any-hover: none) {
    cursor: default;
  }
  span,
  &::before,
  &::after {
    content: '';
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: rem(5);
    background-color: var(--text-primary);
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu-open & {
    span {
      width: 0;
    }
    &::before {
      top: calc(50% - rem(3));
      transform: rotate(-45deg);
    }
    &::after {
      bottom: calc(50% - rem(3));
      transform: rotate(45deg);
    }
  }
}

//========================================================================================================================================================
// SWITCHER

.switcher {
  position: relative;
  display: flex;
  column-gap: rem(10);
  background-color: var(--bg-primary);
  border-radius: rem(25);
  z-index: 5;

  input {
    display: none;
  }

  &__selector {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: rem(40);
    height: rem(30);
    border: rem(2) solid var(--accent);
    border-radius: rem(2);
    transition: all 0.5s cubic-bezier(0.7, -0.55, 0.3, 1.55) 0s;
  }

  label {
    cursor: pointer;
    width: rem(40);
    height: rem(40);
    transform: scale(1.1);
    @media (any-hover: hover) {
      &:hover {
        filter: brightness(1.1);
        transition: all 0.5s ease 0s;
      }
    }

    &[for='ua'] {
      background: url(../img/switcher/ua.svg) center center/contain no-repeat;
    }

    &[for='usa'] {
      background: url(../img/switcher/usa.svg) center center/contain no-repeat;
    }
  }

  input {
    &:checked + label {
      transform: scale(1);
      filter: brightness(1.1) drop-shadow(0px 0px 2px var(--accent));
      transition: all 0.3s ease 0s;
    }
  }

  #ua:checked ~ .switcher__selector {
    left: 0;
  }

  #usa:checked ~ .switcher__selector {
    left: calc(100% - rem(40));
  }
}

//========================================================================================================================================================
// MENU
.menu {
  position: fixed;
  top: 0;
  right: 0;

  &__bg {
    position: relative;
    background-color: var(--bg-primary_70);
    transition: all 0.3s;
    z-index: -10;

    .menu-open & {
      width: 100vw;
      height: 100vh;
      z-index: 5;
    }
  }

  &__body {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary);
    transition: all 0.3s;
    overflow: hidden;
    border-top-left-radius: rem(40);
    border-bottom-left-radius: rem(40);
    z-index: 6;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(35);
    font-size: rem(0);
    font-weight: 600;
    height: 0;
    width: 0;
    transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);

    .menu-open & {
      height: 100vh;
      width: 45vw;
      font-size: rem(32);
    }

    @media (max-width: $mobile) {
      .menu-open & {
        width: 75vw;
      }
    }

    @media (max-width: $mobileSmall) {
      .menu-open & {
        width: 100vw;
      }
    }
  }

  &__item {
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(3);
      z-index: 1;
      letter-spacing: 3em;
      transition: all 0.3s;
      color: var(--bg-primary);
      opacity: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        &::before {
          content: attr(data-name);
          letter-spacing: normal;
          opacity: 0.4;
          width: auto;
          font-size: rem(32);
        }
      }
    }
  }

  &__link {
    position: relative;
    transition: all 0.3s;
    padding: rem(0) rem(25);

    z-index: 3;

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--text-primary);
        color: var(--bg-primary);
        padding: rem(5) rem(25);
        border-radius: rem(40);
        font-size: rem(48);
      }
    }
  }
}
